<h3>User Info</h3>
<ul>
  <li><b>Name: </b><%= @user.capitalize %></li>
  <li><b>Email address: </b><%= @email %></li>

  <li><b>Interests:</b></li>
    <ul>
      <% @interests.each do |interest| %>
        <li><%= interest %></li>
      <% end %>
    </ul>
</ul>

<div>
  <h4>Other Users</h4>
  <ul>
    <% @other_users.each do |user| %>
      <li>
        <% name = user.first.capitalize.to_s %>
        <a href="/<%= name %>"><%= name %></a>
      </li>
    <% end %>
  </ul>
  <ul>
    <li>
      <a href="/">Return to index</a>
    </li>
  </ul>
</div>
